{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'registro.css' %}">
    <title>Iniciar Sesión</title>
</head>
<body>
    <div class="login-container">
        <h1>Iniciar Sesión</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Iniciar sesión</button>
            <p>¿No tienes cuenta? Registrate aqui <a href="{% url 'registro' %}" class="btn-1">REGISTRO</a></p>
        </form>
        
        {% if error_message %}
            <p>{{ error_message }}</p>
        {% endif %}

    </div>
</body>
</html>
